*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(bg.avif);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    /* border: 12px solid red; */
    
}
.logo{
    width: 100px;
    height:100%;
    /* cursor: pointer; */
    
}
.menu-icon{
    width: 30px;
    margin-right: 40px;
    /* cursor: pointer; */
    border:1px solid white;
    background: white;
    border-radius: 10px;
    margin-left: 30px;
    
}
nav{
    /* border:1px solid green; */
    flex:1;
    text-align: right;
}
nav ul li{
    list-style: none;
    /* border:2px solid; */
    display: inline-block;
    margin-left: 30px;
    
}
nav ul li a{
    text-decoration:none;
    color: white;
    font-size:20px
}
.row{
    display: flex;
    height: 100%;
    align-items: center;
    /* border: 1px solid red; */

}
.col{
    /* border:5px solid white; */
    flex-basis: 50%;
}
h1{
    color:white;
    font-size: 90px;
}
p{
    color:white;
    font-size:20px;
    line-height: 25px;
}
button{
    width:150px;
    color:#000;
    font-size:20px;
    padding:12px;
    background: whitesmoke;
   /*  border:none; */
    border-radius: 15px;
    /* outline: solid; */
    margin-top: 10px;
}
.card{
    width:200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    /* border:5px solid greenyellow; */
    padding:15px 25px;
    box-sizing: border-box;
    cursor:pointer;
    margin:10px 35px;
    background-position: center; /* 位置 */
    background-size: cover;
}
.card1{
    background-image: url(card1.webp);
}
.card2{
    background-image: url(card2.jpeg);
}
.card3{
    background-image: url(card3.jpeg);
}
.card4{
    background-image: url(card4.jpeg);
}
.card:hover{
    transform:translateY(-10px);
    transition: .3s;
}
h5{
    color:#fff;
    text-shadow: 7px 4px  3px black;/* x y 模範lv */
    font-size:20px;
}
.card p{

}
/* https://www.youtube.com/watch?v=Oa9LTDR9ugU 
4:04 */